<div class="auth-container">
    <mat-card>
      <h2>Sign Up</h2>
  
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" class="full-width">
          Sign Up
        </button>
  
      </form>
  
      <p class="link-text">
        Already have an account? <a routerLink="/login">Login</a>
      </p>
    </mat-card>
  </div>
  